.menu {
    background-color: var(--blue);
    width: 25%;
    height: 100vh;
}

.option {
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}

.option > p {
    padding-left: 50px;
}

.option:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: var(--white);
}